<!--This code snippet represents a HTML section that displays a 404 error page.
  It includes a header, a message, and a footer with a link to the homepage.
  The section is styled using CSS classes for layout, typography, and colors.
  The code snippet can be used as a template for creating a custom 404 error page in a
  web application.-->
<head>
	<meta name="description" content="page not found error" />
</head>

<section class="flex justify-center w-full h-screen py-32 bg-gray-100">
	<article class="p-12 text-center border rounded-lg shadow-xl max-w-6/12">
		<header class="pt-10 text-3xl font-bold md:text-3xl">
			404: Page non trouvée
		</header>
		<div class="mt-4 text-xl font-normal">
			Oh mon Dieu!, la page que vous recherchez n'existe pas.
		</div>
		<footer class="relative flex justify-center h-12 mt-6">
			<div
				class="absolute flex px-4 py-2 text-lg font-medium text-green-100 bg-green-600 rounded shadow-md cursor-pointer tr-mt svelte-jqwywd">
				<a href="/" title="Go to the homepage">Aller à la page d'accueil</a>
			</div>
		</footer>
	</article>
</section>
