<head>
  <meta name="description" content="Shows details of app" />
  <link
    rel="preload"
    as="script"
    href="https://github.com/AndrewJBateman/angular-tailwind-ratp"
    Set-Cookie:
    CookieName="CookieValue;"
    SameSite="Lax;"
  />
</head>
<div class="min-h-screen min-w-screen ratp-green">
  <div class="flex justify-center w-full h-screen pt-10 mx-auto">
    <div class="max-w-xs">
      <div class="rounded-lg info-card">
        <div class="p-2 pt-5 pb-0 photo-wrapper">
          <img
            class="w-40 h-40 mx-auto rounded-full"
            width="40px"
            height="40px"
            src="../../../assets/metro.svg"
            alt="Image of metro"
          />
        </div>

        <div class="p-2">
          <h4
            class="pb-1 text-xl font-medium leading-8 text-center text-gray-900"
          >
            RATP Commerces API
          </h4>
          <div class="px-2 text-xs font-semibold text-left text-gray-600">
            <p class="pb-2">
              <span class="font-bold text-gray-900"
                >Les données sur les commerces de proximité</span
              >
              sont obtenues à partir d'une recherche par code postal de l'API
              publique RATP. Ces commerces de proximité (librairies, points
              presse, débitants de tabac...) sont à la disposition des voyageurs
              pour l'achat de carnets de Tickets t+ et les rechargements Navigo
              Mois et Semaine ainsi que des passes Navigo Découverte.
            </p>
            <p>
              <span class="font-bold text-gray-900"
                >Les données de la page de Contact</span
              >
              sont extraites de l'API Github. Une clé API n'est pas requise pour
              une recherche d'utilisateurs
            </p>
          </div>
          <table class="my-2 text-xs">
            <tbody>
              <tr>
                <td class="px-2 font-semibold text-gray-500">
                  <span class="font-bold text-gray-900">La Stack:</span>
                </td>
                <td class="px-2 text-xs text-gray-600">
                  Angular 12, Tailwindcss 2, RxJS 6
                </td>
              </tr>
              <tr>
                <td class="px-2">
                  <span class="font-bold text-gray-900">Le Testing:</span>
                </td>
                <td class="px-2 text-xs text-gray-600">Jasmine, Karma</td>
              </tr>
              <tr>
                <td class="px-2">
                  <span class="font-bold text-gray-900"
                    >Environnement de dév:</span
                  >
                </td>
                <td class="px-2 text-xs text-gray-600">MS Visual Studio</td>
              </tr>
            </tbody>
          </table>

          <div class="my-2 text-center">
            <a
              class="text-xs italic font-medium text-indigo-600 hover:underline hover:text-indigo-800"
              href="https://github.com/AndrewJBateman/angular-tailwind-ratp"
              target="_blank"
              rel="noopener noreferrer"
              >Voir le repo Github</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
