<!--This code snippet represents an HTML template for an app that shows details of a map.
  It includes a meta tag for description and a div element with various classes and
  attributes for displaying the map.
  Inside the div, there are buttons for zooming in and out, changing layers, and
  displaying information. The code also includes Angular directives and event handlers
  for interacting with the map.-->
<head>
	<meta name="description" content="Shows details of app" />
	<link
		rel="prefetch"
		as="document"
		src="https://github.com/AndrewJBateman/angular-tailwind-ratp" />
</head>
<div class="min-h-screen min-w-screen ratp-green" id="leaflet-container">
	<div class="flex justify-center w-full h-screen mx-auto">
		<div
			id="map"
			leaflet
			[leafletOptions]="options"
			[(leafletZoom)]="zoom"
			[leafletCenter]="center"
			[leafletLayers]="layers"
			[leafletMarkerCluster]="markerClusterData"
			[leafletMarkerClusterOptions]="markerClusterOptions"
			(leafletMapReady)="onMapReady($event)">
			<div class="controls">
				<button
					class="control"
					(click)="zoomIn()"
					(keyup)="zoomIn()"
					role="button"
					[disabled]="zoom >= zoomMax"
					matTooltip="Zoom avant">
					<mat-icon>zoom_in</mat-icon>
				</button>
				<button
					class="control"
					(click)="zoomOut()"
					role="button"
					[disabled]="zoom <= zoomMin"
					matTooltip="Zoom arrière">
					<mat-icon>zoom_out</mat-icon>
				</button>
				<button
					class="control"
					(click)="nextLayer()"
					role="button"
					matTooltip="Cartes">
					<mat-icon>layers</mat-icon>
				</button>
				<button
					class="control"
					(click)="popupInfo()"
					role="button"
					matTooltip="Information">
					<mat-icon>info</mat-icon>
				</button>
			</div>
		</div>
	</div>
</div>
