#leaflet-container {
  position: absolute;
  padding-top: 64px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  min-height: 345px;
  z-index: 0;
}

#map {
  flex-grow: 1;
}

.controls {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 500;
  display: flex;
  flex-direction: column;
}

.control {
  margin-bottom: 0.5rem;
  color: white;
  background-color: #1b76c8;
  border: 1px solid rgb(0 0 0 / 30%);
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  user-select: none;
  text-shadow: 0 0 4px black;
}

.control span {
  display: inline-block;
  height: 30px;
  width: 30px;
  font-size: 30px;
  line-height: 1;
  text-align: center;
}

#info {
  top: 5.5rem;
}
