<head>
  <meta
    name="description"
    content="Home page shows commercial establishments near to RATP stations"
  />
</head>

<div class="min-w-screen min-h-screen ratp-green">
  <div class="py-4 px-4 w-full">
    <!--search bar-->
    <form
      #postCodeSearch="ngForm"
      method="POST"
      (ngSubmit)="onSubmitForm(postCodeSearch); postCodeSearch.reset()"
      background-color:
      #f5f3f3;
    >
      <div class="input-group mb-2 rounded-lg mr-0">
        <div
          class="max-w-xs relative text-lg rounded-lg bg-white text-gray-800 mr-0"
        >
          <div class="search-bar rounded-lg py-2">
            <input
              id="search"
              name="search"
              #name="ngModel"
              class="input-form form-control border-none pl-2 leading-tight focus: outline-none"
              required
              ngModel
              type="text"
              placeholder="tapez le code postal"
              aria-label="Enter postcode"
              minlength="5"
              maxlength="5"
              pattern="[0-9]*"

            />
            <button
              aria-label="ratp post-code search button"
              type="submit"
              [disabled]="postCodeSearch.invalid"
              class="absolute right-0 top-0 mt-3 mr-4"
            >
              <img
                alt="search button magnifying glass image"
                class="h-5 w-5 fill-current"
                src="./../../../assets/search.svg"
              />
            </button>
          </div>
        </div>
      </div>
    </form>
    <!--error-checking-->
    <div
      class="max-w-xs pt-2"
      *ngIf="name.invalid && (name.dirty || name.touched)"
    >
      <div class="info-card shadow-xl rounded-lg">
        <div class="p-1 pl-2">
          <div class="text-red-600 font-bold">
            <div
              *ngIf="name.errors"
            >
              Un code postal de 5 chiffres est requis
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Show if no data from API - some postcodes have no RATP commerce-->
    <div class="max-w-xs" *ngIf="!dataToShow && !initialState">
      <div class="text-red-600 font-bold bg-white shadow-xl rounded-lg">
        <div class="p-1">
          <p>Aucune RATP donnée à afficher - essayez un autre code postal</p>
        </div>
      </div>
    </div>

    <div *ngIf="dataToShow">
      <!--summary panel-->
      <div class="max-w-xs rounded">
        <div class="info-card">
          <div class="p-1">
            <table class="text-xs my-2">
              <tbody>
                <tr>
                  <td class="table-cell">
                    <span class="table-text-left">Code Postal Recherché:</span>
                  </td>
                  <td class="table-text-right">{{ postalCode }}</td>
                </tr>
                <tr>
                  <td class="table-cell">
                    <span class="table-text-left">Ville:</span>
                  </td>
                  <td class="table-text-right">{{ ville }}</td>
                </tr>
                <tr>
                  <td class="table-cell">
                    <span class="table-text-left">Nombre d'Eléments</span>
                  </td>
                  <td class="table-text-right">{{ dataLength }}</td>
                </tr>
                <tr>
                  <td class="table-cell">
                    <span class="table-text-left">Mise à Jour</span>
                  </td>
                  <td class="table-text-right">{{ date | date }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!--API data table-->
      <div class="overflow-x-auto shadow mt-6" *ngIf="dataToShow">
        <table class="table-auto border-collapse w-full rounded-lg">
          <thead>
            <tr class="rounded-lg text-white font-bold text-left">
              <th class="column-header">Nom</th>
              <th class="column-header">Adresse</th>
              <th class="column-header">Ferme</th>
            </tr>
          </thead>
          <tbody class="text-sm font-normal text-gray-700 bg-white">
            <tr
              *ngFor="let data of ratpData; trackBy: trackByFn"
              class="border-b border-gray-200 py-10"
            >
              <td class="table-cell">{{ data.fields.tco_libelle }}</td>
              <td class="table-cell">
                {{ data?.fields?.dea_numero_rue_livraison_dea_rue_livraison }}
              </td>
              <td class="table-cell" *ngIf="data.fields.dea_fermeture else noData">
                {{ data.fields.dea_fermeture }}
              </td>
              <ng-template #noData>
                <td class="table-cell">
                  Pas de Données
                </td>
              </ng-template>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
