<head>
  <meta
    name="description"
    content="Home page shows commercial establishments near to RATP stations"
  />
</head>

<div class="min-w-screen min-h-screen ratp-green">
  <div class="pb-4 px-4 pt-5 rounded-md w-full">
    <!--search bar-->
    <form
      #postCodeSearch="ngForm"
      method="POST"
      (ngSubmit)="submitForm(postCodeSearch); postCodeSearch.reset()"
      background-color:
      #fff;
    >
      <div class="input-group mb-2 rounded-lg">
        <div
          class="max-w-xs relative text-lg rounded-lg bg-white text-gray-800"
        >
          <div class="search-bar rounded-lg bg-white py-2">
            <input
              id="search"
              name="search"
              #name="ngModel"
              class="form-control border-none pl-2 leading-tight bg-white focus: outline-none"
              required
              ngModel
              type="text"
              placeholder="tapez le code postal"
              aria-label="Enter postcode"
              minlength="5"
              maxlength="5"
              pattern="[0-9]*"
            />
            <button
              type="submit"
              [disabled]="postCodeSearch.invalid"
              class="absolute right-0 top-0 mt-4 mr-4"
            >
              <img
                class="h-5 w-5 fill-current"
                src="./../../../assets/glass.svg"
              />
            </button>
          </div>
        </div>
      </div>
    </form>
    <!--error-checking-->
    <div
      class="max-w-xs pt-2"
      *ngIf="name.invalid && (name.dirty || name.touched)"
    >
      <div class="info-card bg-white shadow-xl rounded-lg">
        <div class="p-1 pl-2">
          <div class="text-red-600 font-bold">
            <div
              *ngIf="
                name.errors.required ||
                name.errors.minlength ||
                name.errors.pattern
              "
            >
              Un code postal de 5 chiffres est requis
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Show if no data from API - some postcodes have no RATP commerce-->
    <div class="max-w-xs" *ngIf="!dataToShow && !initialState">
      <div class="text-red-600 font-bold bg-white shadow-xl rounded-lg">
        <div class="p-1">
          <p>Aucune RATP donnée à afficher - essayez un autre code postal</p>
        </div>
      </div>
    </div>

    <div *ngIf="dataToShow">
      <!--summary panel-->
      <div class="max-w-xs rounded">
        <div class="info-card bg-white shadow-xl rounded-lg">
          <div class="p-1">
            <table class="text-xs my-2 rounded">
              <tbody class="rounded">
                <tr>
                  <td class="px-2 rounded">
                    <span class="text-gray-900 font-bold"
                      >Code Postal Recherché:</span
                    >
                  </td>
                  <td class="px-2 text-gray-600 text-xs">{{ postalCode }}</td>
                </tr>
                <tr>
                  <td class="px-2">
                    <span class="text-gray-900 font-bold">Ville:</span>
                  </td>
                  <td class="px-2 text-gray-600 text-xs">{{ ville }}</td>
                </tr>
                <tr>
                  <td class="px-2">
                    <span class="text-gray-900 font-bold"
                      >Nombre d'Eléments</span
                    >
                  </td>
                  <td class="px-2 text-gray-600 text-xs">{{ dataLength }}</td>
                </tr>
                <tr>
                  <td class="px-2">
                    <span class="text-gray-900 font-bold">Mise à Jour</span>
                  </td>
                  <td class="px-2 text-gray-600 text-xs">{{ date | date }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!--API data table-->
      <div class="overflow-x-auto shadow mt-6" *ngIf="dataToShow">
        <table class="table-auto border-collapse w-full rounded-lg">
          <thead>
            <tr class="rounded-lg text-white font-bold text-left">
              <th class="column-header p-2">Nom</th>
              <th class="column-header p-2">Adresse</th>
              <th class="column-header p-2">Ferme</th>
            </tr>
          </thead>
          <tbody class="text-sm font-normal text-gray-700">
            <tr
              *ngFor="let data of ratpData; trackBy: trackByFn"
              class="hover:bg-white border-b border-gray-200 py-10"
            >
              <td class="p-2">{{ data.fields.tco_libelle }}</td>
              <td class="p-2">
                {{ data?.fields?.dea_numero_rue_livraison_dea_rue_livraison }}
              </td>
              <td *ngIf="data.fields.dea_fermeture" class="p-2">
                {{ data.fields.dea_fermeture }}
              </td>
              <td *ngIf="!data.fields.dea_fermeture" class="p-2">
                Pas de Données
              </td>
            </tr>
            <tr class="hover:bg-gray-100 border-b border-gray-200 py-2"></tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- <ng-template #noResults>
      <div class="max-w-xs" *ngIf="!dataToShow && !initialState">
        <div class="text-red-600 font-bold bg-white shadow-xl rounded-lg">
          <div class="p-1">
            <p>
              Aucune RATP donnée à afficher - essayez un code postal valide
            </p>
          </div>
        </div>
      </div>
    </ng-template> -->
  </div>
</div>
