nav {
  border-bottom: 4px solid #2f4e96;
  background: white;
  height: 4rem;

  .nav-left-icon {
    height: 50px;
    width: 50px;
  }

  .nav-link {
    color: #0d7765 !important;
  }

  .nav-link-active {
    color: #2f4e96 !important;
    font-weight: bold;
  }
}
