<nav
  class="font-sans flex text-center content-center flex-row justify-between pt-1 pl-1 pr-3 shadow sm:items-baseline w-full"
>
  <!--navbar LHS-->
  <div class="self-center">
    <a
      class="nav-link text-md ml-2 px-2"
      aria-label="home nav link"
      routerLink="/"
      routerLinkActive="nav-link-active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <div class="text-center flex">
        <img class="nav-left-icon" src="./../../../assets/ratp.png" />
        <p class="pt-3">Commerces</p>
      </div>
    </a>
  </div>

  <!--navbar RHS-->
  <div class="self-center">
    <a
      class="nav-link text-md ml-2 px-1"
      aria-label="about nav link"
      routerLink="/about"
      routerLinkActive="nav-link-active"
      [routerLinkActiveOptions]="{ exact: true }"
      >A propos</a
    >
    <a
      class="nav-link text-md ml-2 px-1"
      aria-label="contact nav link"
      routerLink="/contact"
      routerLinkActive="nav-link-active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Contact</a
    >
  </div>
</nav>
