nav {
  border-bottom: 1px solid #178d79;
  background: white;
  height: 4rem;

  .nav-heading {
    color: #178d79;
  }

  .nav-left-icon {
    height: 50px;
    width: 50px;
  }

  .nav-link {
    color: #0d7765 !important;
  }

  .nav-link-active {
    color: #1d6ac2 !important;
    font-weight: bold;
  }
}
