/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

main {
  padding-top: 0rem;
  padding-left: 0 !important;
}

.ratp-green {
  color: #00aa91;
  background-color: #00aa91;
}
