/* stylelint-disable at-rule-no-unknown */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "~leaflet/dist/leaflet.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";

@layer components {
  main {
    padding-top: 0;
    padding-left: 0 !important;
  }

  nav {
    border-bottom: 4px solid #2f4e96;
    background: white;
    height: 4rem;
  }

  .nav-left-icon {
    height: 50px;
    width: 50px;
  }

  .nav-link {
    color: #0d7765 !important;
    padding: 8px;
  }

  .nav-right {
    @apply ml-2 rounded hover:bg-gray-50;
  }

  .nav-link-active {
    color: #2f4e96 !important;
    font-weight: bold;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .ratp-green {
    background-color: #00aa91;
  }

  .search-bar .column-header {
    background-color: rgb(245 243 243);

    @apply shadow-xl;
  }

  .input-form {
    /* background-color: rgb(245 243 243); */
  }

  .info-card {
    background-color: rgb(245 243 243);

    @apply rounded-lg;
  }

  .table-cell {
    background-color: rgb(245 243 243);

    @apply px-2;
  }

  .table-text-left {
    @apply font-bold text-blue-900;
  }

  .table-text-right {
    @apply text-xs text-gray-600;
  }

  .column-header {
    @apply p-2 bg-blue-900;
  }

  .title {
    @apply text-lg font-semibold text-blue-800;
  }

  .emphasis {
    @apply italic text-blue-800;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
